*{
    background-color: #E7DFD8;
}
.profile-pic{
    border-radius: 50%;
}

span{
    text-decoration: underline;
}

.chess{
    margin-top: 100px;
}

.skills{
    text-align: center;
    padding-bottom: 100px;
    text-decoration: underline;
}
