*{
    background-color: #E7DFD8;
}

.title-text{
    float: left;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin-left: 200px;
    margin-top: 110px;

}

.git-profile{
    float: right;
    width: 200px;
    margin-top: 80px;
    margin-right: 220px;
}